.articulo{
    background: #ff5733;
    border: 3px solid rgb(255, 255, 255);
    border-radius: 12px;
    padding: 20px;
    margin-bottom: 15px;
    color: rgb(255, 255, 255);
    text-align: justify;
}
article footer{
    text-align: right;
    color: rgb(255, 255, 255);
}
figcaption{
    font: italic 10px sans-serif;
}

div{
    width: 350px;
    margin: 20px;
    padding: 05px;
    border: 2.5px solid black;
    box-sizing: border-box;

}
.iconos{

    display: flex;
    justify-content:center ;
    position: relative;
    width: 890px;
    padding: 10px 13px;

}
